NezhaBaseUrl=https://status.example.com
NezhaApiMode=v2
NezhaAuth=
DefaultLocale=zh
ForceShowAllServers=false
NEXT_PUBLIC_NezhaFetchInterval=5000
NEXT_PUBLIC_ShowFlag=true
NEXT_PUBLIC_DisableCartoon=false
NEXT_PUBLIC_ShowTag=true
NEXT_PUBLIC_ShowNetTransfer=false
NEXT_PUBLIC_ForceUseSvgFlag=false
NEXT_PUBLIC_FixedTopServerName=false
NEXT_PUBLIC_CustomLogo=https://humanzoo.us/favicon.ico
NEXT_PUBLIC_CustomTitle=HumanZoo
NEXT_PUBLIC_CustomDescription=
NEXT_PUBLIC_Links='[]'
NEXT_PUBLIC_DisableIndex=false
NEXT_PUBLIC_ShowTagCount=false
